{% extends 'master.html' %}

{% block content %}
    <div style="border-radius: 0.5rem; padding: 20px;">
        <div style="display: flex">
            <p>تاریخ: {{ news.created_at.date }} {{ news.created_at.time }}</p> &nbsp;&nbsp;&nbsp;
            <p>منابع: {{ news.sources }}</p>
        </div>
        <h3 dir="rtl">{{ news.title }}</h3>
        <div style="width: 50%">
            <img class="d-block w-100" src="{{ news.image.url }}" height="200px"
                 alt="First slide" style="border-radius: 0.5rem">
        </div>
        <div class="container"
             style="display: flex; justify-content: space-between;"
             align="center">

        </div>
        <hr>

        <p dir="rtl" align="right">
            {{ news.body }}
        </p>
        <div align="right">
            {% for tag in tags %}
            <a href=""><span class="badge badge-secondary">{{ tag }}</span></a>
            {% endfor %}
        </div>

    </div>
    <br>
    <div style=" background-color: #DDDDDD; border-radius: 0.5rem; padding: 20px;">
        <div class="card" style="background-color: #DDDDDD" align="right">
            <div class="card-body">
                <form name="sentMessage" id="contactForm" novalidate method="post" style="width: 50%">
                    {% csrf_token %}

                    {#                    {% if form.errors %}#}
                    {#                        <!-- Error messaging -->#}
                    {#                        <div id="form_errors" style="background: #ffcccc;">#}
                    {#                            <div class="inner">#}
                    {#                                <p>خطاهای زیر پیش آمده:</p>#}
                    {#                                {{ form.non_field_errors }}#}
                    {#                                <ul>#}
                    {#                                    {% for field in form %}#}
                    {#                                        {% if field.errors %}#}
                    {#                                            <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}#}
                    {#                                    {% endfor %}#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    {% endif %}#}

                    <div class="control-group form-group">
                        <div class="controls">
                            <label>نام و نام خانوادگی:</label>
                            <input type="text" class="form-control" id="name" name="name" required
                                   data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>پست الکترونیکی:</label>
                            <input type="email" class="form-control" id="email" name="email" required
                                   data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>پیام:</label>
                            <textarea rows="5" cols="100" class="form-control" id="message" name="message" required
                                      data-validation-required-message="Please enter your message" maxlength="999"
                                      style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" id="submit_button" , name="submit_button">ارسال
                    </button>
                </form>
            </div>
        </div>

        <br>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>
        <div class="card" style="background-color: #DDDDDD">
            <div class="card-body">
                <div style="display: flex">
                    <p>تاریخ: 20/9/97</p> &nbsp;&nbsp;&nbsp;
                    <p>فرستنده: محمدحسین ایرانپاک</p>
                </div>
                <div class="text-right">
                    سلام. سایتتون خیلی خوبه
                </div>
            </div>
        </div>


    </div>
{% endblock content %}