{% extends "master.html" %}
{% block content %}
    <div class="card header">
        <p>
            {{ match.home }} - {{ match.away }}
        </p>
    </div>
    <section class="card game-info">
        <article style="display: flex; justify-content: flex-start">
            <article class="hour">
                <p>{{ match.date.time }}</p>
                <section class="hour-pic">
                    <img src="/static/clock.png" width="18px" height="18px">
                </section>
            </article>
        </article>
        <article class="hour">
            <p>{{ match.date.date }}</p>
            <section class="calender-pic">
                <img src="/static/calendar.png" width="18px" height="18px">
            </section>
        </article>
        <article class="game-result">
            <p style="margin-left: 15px;">{{ match.home }}</p>
            <p style="margin-left: 20px; ">{{ match.home_score }}</p>
            <p>{{ match.away_score }}</p>
            <p style="margin-right: 15px;">{{ match.away }}</p>
        </article>
        <article>
            <p>
                {{ match.get_match_info }}
            </p>
        </article>
    </section>
    <section class="timeline-and-news">
        <div title="time-line" class="card time-line">
            <section id="cd-timeline" class="cd-container">
                {% for event in events %}
                    <div class="cd-timeline-block{{ event.get_home_or_away }}">
                        <div class="event-in-timeline">
                            <p>{{ event.player1 }}</p>
                            <img class="ball" src="{{ event.event_icon.icon.url }}"/>
                            {% if event.is_two_players == True %}
                                <p>{{ event.player2 }}'</p>
                            {% endif %}
                        </div>
                        <div class="time-line-container">
                            <div class="cd-timeline-img">
                                <img src="/static/clock.png"/>
                            </div>
                        </div>
                        <div class="event-in-timeline">{{ event.minute }}'</div>
                    </div>
                {% endfor %}
            </section>
        </div>
        <article class="card match-stats">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-right" scope="col">{{ match.home }}
                        <img src="{{ match.home.logo.url }}" class="team-logo-liverpool">
                    </th>
                    <th class="text-center" scope="col"></th>
                    <th class="text-left" scope="col">
                        <img src="{{ match.away.logo.url }}" class="team-logo-napoli">
                        {{ match.away }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td class="text-right">{{ match_stats.possession_home }}</td>
                    <td class="text-center">مالکیت %</td>
                    <td class="text-left">{{ match_stats.possession_away }}</td>
                </tr>
                <tr class="text-center">
                    <td class="text-right">{{ match_stats.shots_home }} ({{ match_stats.shots_on_target_home }})</td>
                    <td class="text-center">شوت(در چهارچوب)</td>
                    <td class="text-left">({{ match_stats.shots_on_target_away }}) {{ match_stats.shots_away }} </td>
                </tr>
                <tr class="text-center">
                    <td class="text-right">{{ match_stats.fouls_home }}</td>
                    <td class="text-center">خطا</td>
                    <td class="text-left">{{ match_stats.fouls_away }}</td>
                </tr>
                <tr class="text-center">
                    <td class="text-right">{{ match.get_yellow_cards_home }}</td>
                    <td class="text-center">کارت زرد</td>
                    <td class="text-left">{{ match.get_yellow_cards_away }}</td>
                </tr>
                <tr class="text-center">
                    <td class="text-right">{{ match.get_red_cards_home }}</td>
                    <td class="text-center">کارت قرمز</td>
                    <td class="text-left">{{ match.get_red_cards_home }}</td>
                </tr>
                <tr class="text-center">
                    <td class="text-right">{{ match_stats.offsides_home }}</td>
                    <td class="text-center">آفساید</td>
                    <td class="text-left">{{ match_stats.offsides_away }}</td>
                </tr>
                <tr class="text-center">
                    <td class="text-right">{{ match_stats.corner_home }}</td>
                    <td class="text-center">کرنر</td>
                    <td class="text-left">{{ match_stats.corner_away }}</td>
                </tr>
                <tr class="text-center">
                    <td class="text-right">{{ match_stats.saves_home }}</td>
                    <td class="text-center">نجات دروازه</td>
                    <td class="text-left">{{ match_stats.saves_away }}</td>
                </tr>
                </tbody>
            </table>
        </article>
    </section>
    <section>
        <section class="players">
            <section class="card lineup">
                <table class="table table-striped">
                    <thead>
                    <tr class="text-center">
                        <th scope="column" colspan="2">
                            <img src="{{ match.home.logo.url }}" class="team-logo-liverpool">
                            {{ match.home }} Lineup
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in home_lineup %}
                        <tr>
                            <td class="text-left">{{ player.player }}</td>
                            <td>{{ player.player.current_number }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="text-left">
                        <td class="text-left">{% for player in home_subs %}{{ player.player }}, {% endfor %}</td>
                        <td>:Subs</td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section class="card lineup">
                <table class="table table-striped">
                    <thead>
                    <tr class="text-center">
                        <th scope="column" colspan="2">
                            <img src="{{ match.away.logo.url }}" class="team-logo-napoli">
                            {{ match.away }} Lineup
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in away_lineup %}
                        <tr>
                            <td class="text-left">{{ player.player }}</td>
                            <td>{{ player.player.current_number }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="text-left">
                        <td class="text-left">{% for player in away_subs %}{{ player.player }}, {% endfor %}</td>
                        <td>:Subs</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </section>
    <section class="card news-and-commentate">
        <section class="Commentate">
            <p style="padding-top: 10px;">گزارش بازی</p>
            <ul class="list-group" style="text-align: right">
                {% for commentary in commentaries %}
                    <li class="list-group-item">{{ commentary.text }} دقیقه {{ commentary.minute }}
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="news">
            <ul class="list-group list-group-flush" style="text-align: right">
                {% for match_new in match_news %}


                    <li class="list-group-item">
                        <a href="/news/{{ match_news.id }}">{{ match_new.title }} </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </section>
    <section class="card">
        <p class="header" style="padding-bottom: 10px;">ویدئوهای بازی و حواشی آن</p>
        <section class="multimedia">
            {% for multimedia in multimedias %}
                <section class="clip">
                    <a href="{{ multimedia.link }}">
                        <img src="{{ multimedia.file.url }}" width="100%">
                        <img src="/static/small-play-btn.png" id="play-btn">
                        <p>{{ multimedia.caption }}</p>
                    </a>
                </section>
            {% endfor %}
        </section>
    </section>

{% endblock content %}