{% extends 'master.html' %}

{% block content %}
    <div style="background: #DDDDDD; border-radius: 0.5rem; padding: 20px;">
        <div style="display: flex">
            <input type="text" placeholder="نام لیگ" style="width: 150px">
            <button class="btn btn-secondary">جستجو</button>
        </div>

        <h3 dir="rtl">لیگ برتر ایران (۹۸-۹۷)</h3>

        <hr>

        <table class="table table-striped table-hover" id="score_board">
            <thead class="thead-dark" style="border-radius: 0.25rem">
            <tr>
                <th scope="col">#</th>
                <th scope="col">تيم</th>
                <th scope="col">بازيها</th>
                <th scope="col">برد</th>
                <th scope="col">مساوی</th>
                <th scope="col">باخت</th>
                <th scope="col">گل زده</th>
                <th scope="col">گل خورده</th>
                <th scope="col">تفاضل گل</th>
                <th scope="col">امتياز</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>
            <tr>
                <td>1</td>
                <td>پرسپولیس</td>
                <td>15</td>
                <td>8</td>
                <td>7</td>
                <td>0</td>
                <td>17</td>
                <td>6</td>
                <td>11</td>
                <td>31</td>
            </tr>


            </tbody>
        </table>

        <div style="display: flex; justify-content: space-between">
            <div style="border-radius: 10px; padding: 20px; width: 49%; height: 100%; align-content: center; background-color: #CCCCCC">
                <div style="display: flex; justify-content: space-between">
                    <div class="select">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            انتخاب سال
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">سال ۹۴</a>
                            <a class="dropdown-item" href="#">سال ۹۵</a>
                            <a class="dropdown-item" href="#">سال ۹۶</a>
                            <a class="dropdown-item" href="#">سال ۹۷</a>
                        </div>
                    </div>
                    <div class="select">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            انتخاب لیگ
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">لیگ برتر</a>
                            <a class="dropdown-item" href="#">لیگ انگلیس</a>
                            <a class="dropdown-item" href="#">لالیگا</a>
                            <a class="dropdown-item" href="#">لیگ ایتالیا</a>
                        </div>
                    </div>
                    <div class="select">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            انتخاب هفته
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">هفته اول</a>
                            <a class="dropdown-item" href="#">هفته دوم</a>
                            <a class="dropdown-item" href="#">هفته سوم</a>
                            <a class="dropdown-item" href="#">هفته چهارم</a>
                            <a class="dropdown-item" href="#">هفته پنجم</a>
                        </div>
                    </div>

                </div>
                <p style="margin: 2px 0 0 0;">بازی های هفته جاری</p>
                <br>
                <table class="table table-striped" title="بازیها"
                       style="font-size: small;">
                    <tr style=" width: 100%; height: 100%;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                    <tr style="width: 100%; height: 10px;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                    <tr style="width: 100%; height: 10px;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                    <tr style="width: 100%; height: 10px;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                    <tr style="width: 100%; height: 10px;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                </table>
            </div>
            <div style="border-radius: 10px; padding: 20px; width: 49%; height: 100%; align-content: center; background-color: #CCCCCC">
                <p style="margin: 2px 0 0 0;">بازی های هفته بعد</p>
                <br>
                <table class="table table-striped" title="بازیها"
                       style="font-size: small;">
                    <tr style=" width: 100%; height: 100%;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                    <tr style="width: 100%; height: 10px;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                    <tr style="width: 100%; height: 10px;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                    <tr style="width: 100%; height: 10px;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                    <tr style="width: 100%; height: 10px;">
                        <td class="games-td">
                            تیم اول
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            -
                        </td>
                        <td class="games-td">
                            گل زده
                        </td>
                        <td class="games-td">
                            تیم دوم
                        </td>
                        <td class="games-td">
                            تاریخ
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
{% endblock content %}