{% extends "master.html" %}

{% block content %}
    <div class="d-flex p-2 bd-highlight" style="display: flex; justify-content: space-between; width: 760px;"
         align="center">
        <div class="card" style="width: 74%; padding: 20px; border-radius: 0.5rem">
            <table class="table table-striped" style="">
                <tbody>
                <tr>
                    <td>نام:</td>
                    <td>{{ player.firstname }}</td>
                    <td>نام خانواگی:</td>
                    <td>{{ player.lastname }}</td>
                </tr>
                <tr>
                    <td>سن:</td>
                    <td>{{ player.age }}</td>
                    <td>قد:</td>
                    <td>{{ player.height }}</td>
                </tr>
                <tr>
                    <td>وزن:</td>
                    <td>{{ player.weight }}</td>
                    <td>تیم:</td>
                    <td>{{ player.team }}</td>
                </tr>
                <tr>
                    <td>ملیت:</td>
                    <td>{{ player.nationality }}</td>
                    <td>پست:</td>
                    <td>{{ player.post }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <img src="{{ player.picture.url }}" width="22%" height="180" style="border-radius: 0.5rem">
    </div>

    <div style="display: flex; justify-content: space-between;">

        <div class="card news-list">
            <p style="margin-bottom: 0px; width: 48%; padding-bottom: 10px; padding-top: 10px;"><strong>لیست اخبار
                مربوطه</strong>
            </p>
            <section style="display: flex; justify-content: center; margin-bottom: 15px;">
                <p style="margin-bottom: 0; padding-top: 10px; padding-bottom: 10px; margin-left: 10px;"> فیلتر کردن بر
                    اساس نوع خبر:</p>
                <div class="select">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        نوع خبر
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="/player/{{ player.id }}?ordering=title" class="dropdown-item">عنوان</a>
                        <a href="/player/{{ player.id }}?ordering=tags" class="dropdown-item">برچسب ها</a>
                        <a href="/player/{{ player.id }}?ordering=body" class="dropdown-item">متن</a>
                    </div>
                </div>
            </section>
            <ul class="list-group">
                {% for single_news in news %}

                    <li class="card list-group-item news-item">
                        <img class="news-image" src="{{ single_news.image.url }}">
                        <section class="news-text text-right">
                            <a href="/news/{{ single_news.id }}">
                                <strong>{{ single_news.title }}</strong>
                            </a>
                            <p style="padding: 0px;">
                                {{ single_news.body }}...
                            </p>
                        </section>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card" style="width: 48%; border-radius: 0.5rem; padding: 20px">

            <table class="table table-striped" style="">
                {#            <thead>#}
                {#            <tr>#}
                {#                <th scope="col">#</th>#}
                {#                <th scope="col">تیتر خبر</th>#}
                {#            </tr>#}
                {#            </thead>#}
                <tbody>
                {% if player.post == 'دروازه بان' %}
                    <tr>
                        <td>تعداد کلین شیت:</td>
                        <td>{{ stats.clean_sheet }}</td>
                    </tr>
                    <tr>
                        <td>تعداد نجات دروازه:</td>
                        <td>{{ stats.saves }}</td>
                    </tr>
                    <tr>
                        <td>گل خورده:</td>
                        <td>{{ stats.conceding_goal }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>کارت زرد:</td>
                    <td>{{ stats.yellow_cards }}</td>
                </tr>
                <tr>
                    <td>کارت قرمز:</td>
                    <td>{{ stats.red_cards }}</td>
                </tr>
                <tr>
                    <td>گل زده</td>
                    <td>{{ stats.goals }}</td>
                </tr>
                <tr>
                    <td>پاس گل</td>
                    <td>{{ stats.assists }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <div>
        <form action="follow/{{ player.id }}" method="get">
            <input name="next" value="{{ request.path }}" hidden>
            <button class="btn btn-secondary" type="submit">دنبال کردن</button>
        </form>
    </div>


{% endblock content %}