{% extends "master.html" %}

{% block content %}
    <div class="d-flex p-2 bd-highlight" style="display: flex; justify-content: space-between; width: 760px;"
         align="center">
        <div style="width: 74%; border: solid gray; border-radius: 0.5rem">
            <table class="table table-striped" style="">
                {#            <thead>#}
                {#            <tr>#}
                {#                <th scope="col">#</th>#}
                {#                <th scope="col">تیتر خبر</th>#}
                {#            </tr>#}
                {#            </thead>#}
                <tbody>
                <tr>
                    <td>نام:</td>
                    <td>علیرضا</td>
                    <td>نام خانواگی:</td>
                    <td>بیرانوند</td>
                </tr>
                <tr>
                    <td>سن:</td>
                    <td>26</td>
                    <td>قد:</td>
                    <td>1.93</td>
                </tr>
                <tr>
                    <td>وزن:</td>
                    <td>92</td>
                    <td>تیم:</td>
                    <td>پرسپولیس</td>
                </tr>
                <tr>
                    <td>ملیت:</td>
                    <td>ایرانی</td>
                    <td>پست:</td>
                    <td>دروازه‌بان</td>
                </tr>
                </tbody>
            </table>
        </div>
        <img src="/static/images/beyranvand.jpeg" width="22%" height="180" style="border-radius: 0.5rem">
    </div>

    <div style="display: flex; justify-content: space-between; width: 960px;"
    >
        <div style="width: 48%; border: solid gray; border-radius: 0.5rem">
            <div style="overflow: scroll; height: 220px;">
                <ul>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                    <li><a href="">نامزدی بیرانوند برای مرد فوتبال آسیا</a></li>
                </ul>
            </div>
        </div>
        <div style="width: 48%; border: solid gray; border-radius: 0.5rem">

            <table class="table table-striped" style="">
                {#            <thead>#}
                {#            <tr>#}
                {#                <th scope="col">#</th>#}
                {#                <th scope="col">تیتر خبر</th>#}
                {#            </tr>#}
                {#            </thead>#}
                <tbody>
                <tr>
                    <td>نام:</td>
                    <td>علیرضا</td>
                </tr>
                <tr>
                    <td>تعداد کلین شیت:</td>
                    <td>8 بازی</td>
                </tr>
                <tr>
                    <td>سیو پنالتی:</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>گل خورده:</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>کارت زرد:</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>کارت قرمز:</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}