{% extends "master.html" %}
{% block content %}
    <div class="card header-team">
        <section class="team-logo">
            <img src="{{ team.logo.url }}" title="Liverpool FC">
        </section>
        <div class="previous-games">
            <div title="order-by" class="card" style="width: 30%">
                <p>مرتب سازی بر اساس</p>
                <ul class="table table-borderless">
                    <li style="text-align: right">برد تیم</li>
                    <li style="text-align: right"> امتیاز</li>
                    <li style="text-align: right">تاریخ</li>
                </ul>
            </div>
            <div class="card" style="width: 78%; height: 100%; align-content: center">
                <p style="margin: 2px 0 0 0;">بازی های قبل</p>
                <table class="table table-borderless" title="بازیها"
                       style="font-size: small;">
                    {% for match in last_five_games %}
                        <tr style=" width: 100%; height: 100%;">
                            <td class="games-td">
                                {{ match.home }}
                            </td>
                            <td class="games-td">
                                {{ match.home_score }}
                            </td>
                            <td class="games-td">
                                -
                            </td>
                            <td class="games-td">
                                {{ match.away_score }}
                            </td>
                            <td class="games-td">
                                {{ match.away }}
                            </td>
                            <td class="games-td">
                                {{ match.date.date }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div style="display:flex; width:25%; justify-content: space-between" ;>
            <div class="card" style="width: 100%; height: 100%; align-content: center;">
                <p style="margin: 2px 0 0 0;">بازی های آینده</p>
                <table class="table table-borderless" title="بازیها"
                       style="font-size: small;">
                    {% for match in future_five_games %}
                        <tr class="text-center" style=" width: 100%; height: 100%;">
                            <td class="games-td">
                                {{ match.home }}
                            </td>
                            <td class="games-td">
                                -
                            </td>
                            <td class="games-td">
                                {{ match.away }}
                            </td>
                            <td class="games-td">
                                {{ match.date.date }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="card team">
        <div class="card news-list">
            <p style="margin-bottom: 0px; padding-bottom: 10px; padding-top: 10px;"><strong>لیست اخبار مربوطه</strong>
            </p>
            <ul class="list-group">
                {% for news in team_news %}

                    <li class="card list-group-item news-item">
                        <img class="news-image" src="{{ news.image.url }}">
                        <section class="news-text text-right">
                            <a href="/news/">
                                <strong>{{ news.title }}</strong>
                            </a>
                            <p style="padding: 0px;">
                                {{ news.body }}...
                            </p>
                        </section>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <main class="card" style="font-size: small">
            <article style="margin-bottom: 0;">
                <p style="margin-bottom: 0; padding-top: 10px; padding-bottom: 10px;"><strong>لیست بازیکنان</strong></p>
            </article>
            {% for player in players %}
                <section class="card players-and-staff">
                    <div class="card player-item">
                        <img src="{{ player.picture.url }}" width="100%" height="100%">
                        <p>{{ player }}</p>
                        <p>سن: {{ player.age }}</p>
                        <p>پست: {{ player.post }}</p>
                    </div>
                </section>
            {% endfor %}
        <article style="margin-bottom: 0;">
                <p style="margin-bottom: 0; padding-top: 10px; padding-bottom: 10px;"><strong>لیست مربیان و دستیاران</strong></p>
            </article>
            {% for staff in staffs %}
                <section class="card players-and-staff">
                    <div class="card player-item">
                        <img src="{{ staff.picture.url }}" width="100%" height="100%">
                        <p>{{ staff }}</p>
                        <p>سن: {{ staff.age }}</p>
                        <p>پست: {{ staff.post }}</p>
                    </div>
                </section>
            {% endfor %}
            <article>
                <img src="{{ team.special_pic.url }}" width="100%">
            </article>
        </main>
    </div>

{% endblock content %}